<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Config" value="C:\Users\Administrator\Documents\IISExpress\config\applicationhost.config"/>
    <add key="Site" value="WebSite1(1)"/>
    <add key="ApplicationPool" value="Clr4IntegratedAppPool"/>
  </appSettings>
</configuration>