<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!-- <add key="Config" value="C:\Users\Administrator\Documents\IISExpress\config\applicationhost.config"/> -->
    <!-- <add key="Config" value="c:\Users\merc\Documents\IISExpress\config\applicationhost.config"/> -->
    <add key="Config" value="C:\Users\Administrator\Documents\IISExpress\config\applicationhost.config"/>

    <!-- <add key="Site" value="WebSite1(1)"/> -->
    <!-- <add key="Site" value="WebSite1"/> -->
    <!-- <add key="Site" value="MercedesBenzTerminal.example"/> -->
    <add key="Site" value="WebSite1(1)"/>

    <add key="ApplicationPool" value="Clr4IntegratedAppPool"/>

    <!-- <add key="IISExpress" value="C:\Program Files\IIS Express\iisexpress.exe"/> -->
    <!-- <add key="IISExpress" value="c:\Program Files (x86)\IIS Express\iisexpress.exe"/> -->
    <add key="IISExpress" value="C:\Program Files\IIS Express\iisexpress.exe"/>
  
    
  </appSettings>
</configuration>